/*!
Theme Name: CASA Theme
Theme URI: https://casa-arnhem.nl
Description: A child theme for Twenty Twenty.
Author: Ronnie Stevens, studio ZOO
Author URI: https://zoo.nl/
Template: twentytwenty
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/

// @import "compass";
// @import "compass/reset";

@import "base";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import "bootstrap/bootstrap-grid";

html, body {
    font-size: 1rem;
}

.site-description {
    display: none;
}
#site-header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0.5rem 0;
    z-index: 1000;
}
body.adminbar {
    #site-header {
        margin-top: 30px;
    }
}
img.responsive {
    width: 100%;
}
section {
    padding: 1rem 0;
}
main {
    margin-top: 109px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
    letter-spacing: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    margin-top: 3rem;
}
h2 {
    font-size: 2rem;
}
.mt-0 {
    margin: 0 2% 0.5rem 2%!important;
}
.mb1 {
    margin-bottom: 1rem;
}
.pb1 {
    padding-bottom: 1rem;
}
a {
    color: #000!important;
    text-decoration: none;
}
.w100 {
    width: 100%;
}
.alignfull {
    margin-top: 0;
    margin-bottom: 0;
}
h1.entry-title,
h2.entry-title {
    margin-bottom: 1rem;
}
.entry-content {
    font-family: inherit;
    h4 {
        font-family: inherit;
    }
}
#wpadminbar a {
    color: #fff!important;
}
body {
    font-family: $base-font;
}
body:not(.overlay-header) .primary-menu{
    font-size: 1rem;
    > li {
        margin: 0 1.5rem;
    }
    &> li > ul::after {
        border-bottom-color: #ccc!important;
    }
    ul {
        background-color: #ccc!important;
        font-size: 1rem;
        &::after {
            color: #ccc!important;
        }
    }
    &> li > a {
        color: $font-color!important;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
    }
    &> li > .icon {
        color: #ccc!important;
        right: 0;
    }
    &> li.current-menu-item > .icon {
        color: #000!important;
    }
}

// menu modal
.menu-modal.active {
    margin-top: 109px;
    button.close-nav-toggle {
        font-size: 1rem;
        padding: 1rem;
    }
    button.sub-menu-toggle {
        margin: 0;
        svg {
            height: 0.5rem;
        }
    }
    .modal-menu {
         a {
            padding: 1rem 2.5rem;
         }
         ul li a {
             font-weight: 300;
         }
    }
    .modal-menu > li > a, 
    .modal-menu > li > .ancestor-wrapper > a {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
    } 

}
.menu-bottom {
    padding: 2rem 0;
}
.header-titles-wrapper {
    text-align: left;
    padding: 0;
}

.primary-menu-wrapper + .header-toggles {
    margin-left: 0;
}
ul.primary-menu {
    letter-spacing: 0.15rem;
    margin: 0.2rem 0 0 -1.6rem;
    ul {
        width: auto;
        min-width: 14rem;
        a {
            padding: 0.5rem 1rem;
            letter-spacing: 1px;
        }
    }
    li.current-menu-item > a {
        text-decoration: none;
    }
    .icon {
        height: 0.2rem;
        &::before {
            height: 0.6rem;
        }
        &::after {
            width: 0.6rem;
        }
    }
}
.header-inner {
    padding: 1rem 0;
    .toggle-wrapper {
        position: inherit;
        .toggle-text {
            display: none;
        }
    }
}
.singular .entry-header {
    padding: 0;
    .section-inner.medium {
        max-width: 58rem;
        width: calc(100% - 4rem);
        text-align: left;
    }
    .entry-header-inner {
        h1.entry-title {
            display: inline-block;
            letter-spacing: inherit;
        }
        .category {
            font-size: 2rem;
        }
    }
}
.post-inner {
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-weight: 200;
}
.search-modal .search-field {
    font-size: 1.5rem;
}
.search-toggle {
    .toggle-inner {
        background-color: #000;
        border-radius: 20px;
        padding: 5px;
        height: 32px;
        svg {
            top: 3px;
            height: 16px;
            color: #fff;
        }
    }
} 
.cover-header-wrapper {
    position: relative;
    height: 674px;
    margin-bottom: 2rem;
    &.yellow {
        min-height: 100px;
        height: auto;
        background-color: $yellow;
        font-weight: 200;
        h1 {
            font-weight: 200;
            margin: 1rem 0 1rem 1rem;
        }
     
    }
    &.right {
        .entry-header {
            position: absolute;
            right: 10%;
        }
    }
    .cover-header {
        width: 100%;
        height: 604px;
        border-bottom: 10px solid $yellow;
        background-size: cover;
        &.top {
            background-position: top center;
        }
        &.center {
            background-position: center center;
        }
        &.bottom {
            background-position: bottom center;
        }
    }
    .entry-header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 288px;
        height: 288px;
        position: absolute;
        left: 1rem;
        bottom: 0;
        width: 288px;
        // height: 295px;
        background-color: transparent;
        background-image: url('images/zeshoek.svg');
        background-repeat: no-repeat;
        background-size: 288px 284px;
        font-size: 1.5rem;
        font-weight: 300;
        div {
            margin-top: 22px;
            margin-left: 0px;
            text-align: center;
            width: 100%;
            padding: 0.4rem 1rem;
            h5 {
                margin: 0;
                font-size: 1.8rem;
            }
        }
    
    }
}
// post page 
body.post-template-default {
    .row.black {
        background-color: $black;
        color: #fff;
        h2 {
            margin: 1rem 0 1rem 1rem;
            text-transform: uppercase;
            font-weight: 400;
            
        }
    }
}
// events page
body.page-template-events-summary {
    .cover-header-wrapper {
        &.yellow {
            height: inherit;
            min-height: unset;
        }
        h1 {
            font-size: 2rem;
            font-weight: 400;
            text-transform: uppercase;
            margin: 1rem 0 1rem 1rem;
        }
    }
    .container-fluid.yellow {
        padding-bottom: 2rem;
        width: 100%;
        background-color: $yellow;
        .black {
            background-color: #000;
            color: #fff;
            margin-bottom: 2rem;
        }
        h2 {
            margin: 1rem 0 1rem 1rem;
            text-transform: uppercase;
            font-weight: 400;
        }
        h5 {
            margin: 0;
            font-size: 1.6rem;
        }
        p {
            font-size: 1.2rem;
        }
        .archief {
            a {
                display: block;
                margin-top: 5rem;
                border: solid 1px black;
            }
            h4 {
                margin: 1rem;
                text-align: center;
                font-weight: 400;
            }
            p {
                margin-top: 1rem;
                text-align: center;
            }
        }

    }
}
.wp-embed-responsive .wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
    padding-top: 25%;
}
// events archive 
body.page-template-events-archive {
    .entry-content {
        .row {
            padding: 1.5rem 0;
        }
    }
}
.singular .intro-text {
    font-size: 1.5rem;
}
.entry-content {
    line-height: 1;
    p, ol, ul, dt, dd {
    font-family: $base-font;
    font-size: 1.2rem;
    font-weight: 300;
    }
    dd {
        padding-bottom: 0.5rem;
    }
    .row {
        border-bottom: solid 1px #343434;
    }
    .date {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }

    #frontrow {
        display: flex;
        flex-flow: wrap;
        border: 0 none;
        .col {
            flex-grow: 1;
            margin-bottom: 2rem;
            h4 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.5rem;
            }
            .tag {
                font-size: 1.5rem;
                border-top: solid 1px black;
                margin-bottom: 1rem;
                padding-top: 1rem;
                width: 100%;
                display: block;
                margin-right: 2rem;
                font-weight: 300;
                padding-top: 0.5rem;
            }
            .description {
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1.2;
            }
        
    
        }
    }
    .cat {
        font-size: 1rem;
        font-weight: 700;
        color: grey;
        margin-top: 1rem;
    }
    h5 {
        margin: 0.5rem auto 1rem;
    }
}
.pagination {
    .nav-links{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
}

/* metaslider */
.metaslider {
    margin: 0 auto 6rem 0!important;
    .caption-wrap {
        max-width: 330px;
        padding: 0.5rem;
        left: 3rem!important;
        bottom: -3rem!important;
        color: #000!important;
        background: $yellow!important;
        opacity: 1!important;
        .caption {
            h4 {
                margin: 1rem auto;
                font-size: 1.2rem;
            }
        }
    }
}

/* search */
#top.header-inner {
    justify-content: flex-end;
    padding: 0.5rem 0 0 0;
    .searchform {
        min-width: 300px;
        width: 300px;
        input[type="search"] {
            font-size: 0.8rem;
            width: 100%;
            padding: 0.5rem;
        }    
    
    }
}
.search-modal {
    .search-field {
        height: 5.4rem;
    }
}
body.search {
    .color-accent {
        color: #999999;
    }
    .post-inner {
        padding-bottom: 0;
        .entry-content {
            .row {
                border-bottom: 0 none;
            }
        }
    
    }
    h2 {
        font-size: 1.3rem;
    }
}
/* footer */
.site-footer, #site-footer {
    padding: 2rem 0 0 0;
    background-color: #000;
    color: #fff!important;
    font-size: 1rem;
    line-height: 1.5;
    h2 { 
        color: $yellow;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 auto;
        line-height: 1.4;
    } 
    h3{
        font-size: 0.8rem;
        color: #fff; 
        margin: 0 auto 0.5rem;
        text-transform: uppercase;
    }
    h4 {
        color: $yellow;
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    .widget {
        border-top: solid 1px grey;
    }
    a {
        color: #fff!important;
        text-decoration: none;    
    }

}
#footer {
    .section-inner {
            display: flex;
            justify-content: space-between;    
    }
}

/* laposta ----------------------------- */
#laposta {
    background-color: $yellow;
    text-align: left;
    padding: 0.5rem;
    .row [class^="col"] {
        float: left;
        margin: 0.5rem 2%;
        min-height: 0.125rem;
      }
    .header {
        text-transform: uppercase;
        text-align: left;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 700;
    }
    input.email {
        font-size: 15px;
        border: 1px solid #ABB0B2;
        color: #343434;
        background-color:#fff;
        box-sizing: border-box;
        height: 32px;
        padding: 0px 0.4em;
        display: inline-block;
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .button {
        font-size: 13px;
        border: none;
        letter-spacing: .03em;
        color: #fff;
        background-color:#000;
        box-sizing: border-box;
        height: 32px;
        line-height: 32px;
        padding: 0 18px;
        display: inline-block;
        margin: 0;
        transition: all 0.23s ease-in-out 0s;
    }
    .clear {
        display: inline-block;
    }
}
#pagecontent {
    .section-inner {
        .bt-1 {
            border-top: solid 1px black;
            margin-bottom: 2rem;
        }
        img {
            padding: 0;
        }
        h5 {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.5rem;
            .mt-1 {
                margin-top: 1rem;
            }
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}
.header-footer-group pre, 
.header-footer-group fieldset, 
.header-footer-group input, 
.header-footer-group textarea, 
.header-footer-group table, 
.header-footer-group table *, 
.footer-nav-widgets-wrapper, 
#site-footer, 
.menu-modal nav *, 
.footer-widgets-outer-wrapper, 
.footer-top {
    border-color: $yellow!important;
}
dt + dd, dd + dt {
    margin-top: 0;
}
.event-meta dt {
    font-weight: 600;
    text-align: right;
}
// archive event 
.page-template-events-summary,
.page-template-page-summary,
.post-template-default {
    .cover-header-wrapper {
        .yellow {
            background-color: $yellow;
        }
    }
    .entry-content a {
        font-weight: 400;
        // display: block;
        // width: 100%;
        // padding-top: 1.5rem;
        // padding-bottom: 1.5rem;
    }
}

.wp-block-file .wp-block-file__button,
.wp-block-button__link {
    background-color: $yellow!important;
    width: 100%;
}
.wp-block-button {
    margin: 0;
    width: 100%;
}
.wp-block-file a:not(.wp-block-file__button) {
    font-weight: 400;
    font-size: 1.2rem;
}

/* nivo slider */
.metaslider .theme-default .nivo-caption {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

@media (min-width: 700px) {
    h1 {
        font-size: 4rem;
        margin-top: 3rem;
    }
    .intro-text {
        margin-top: 1rem;
        p {
            margin-bottom: 0;
        }
    }
    .entry-content {
        h5 {
            margin: 0;
            font-size: 1.6rem;
        }
        h6, .heading-size-6 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
    
        .description {
            font-size: 1.4rem;
        }
    }
    .header-inner {
        padding: 0;
    }
    .cover-header-wrapper {
        
        &.right {
            .entry-header {
                right: 10%;
                left: inherit;
            }
        }
        .entry-header {
            left: 10%;
        }
    }
    .archive-title {
        font-size: 2.4rem;
    }
    hr {
        margin: 3rem 0;
    }
    .entry-content > .alignwide:first-child, 
    .entry-content > .alignfull:first-child {
        margin-bottom: 2rem;
    }
}
@media (min-width: 768px) {
    #pagecontent .section-inner h5.mb-1 {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    h1 {
        font-size: 4rem;
    }
    #laposta {
        .row {
            display: flex;
            padding-top: 1rem;
            .header {
                padding: 0;
            }
            .hidden {
                display: none;
            }
            input.email {
                margin-top: 0.5rem;
                display: block;
            }
    
        }
    }
    .cover-header-wrapper {
        height: 579px;
       .cover-header {
           height: 509px;
       }
       .entry-header {
           div {
               padding: 0 1rem;
               h5 {
                   font-size: 2rem;
               } 
               p {
                    font-size: 1.8rem;
                }
            } 
       }
       &.small {
           .entry-header {
               div {
                    h5 {
                        font-size: 2rem;
                    }
                   p {
                       font-size: 1.2rem;
                   }
               }
           }
       }
       .search-modal .search-field {
           font-size: 1.5rem;
       }
   }
   .menu-modal .menu-wrapper {
       background-color: #fff;
   }
    .search-modal .search-field {
        font-size: 1.5rem;
    }
}

@media ( min-width: 1000px ) {
    .wp-block-columns {
        .wp-block-column {
            width: 31%;
            flex-basis: calc(30% - 16px);
        }
    
    }
    main {
        margin-top: 109px;
    }
    .search-modal .search-field {
        font-size: 1.5rem;
    }
}

@media (min-width: 1220px) {
    h1, .heading-size-1 {
        font-size: 3rem;
    }
    .cover-header-wrapper {
        height: 791px;
        .cover-header {
            height: 720px;
        }
    }
    .search-modal .search-field {
        font-size: 2rem;
    }
    .entry-content > .alignfull {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}